<script lang="ts">
    import {
        Form,
        FormGroup,
        Theme
    } from "carbon-components-svelte";
    import { onMount } from "svelte";

    const themeToggleProps = {
        themes: ["white", "g90"],
        labelA: "",
        labelB: "",
        labelText: "Thème sombre",
        hideLabel: false,
    };

    let theme: "white" | "g90" = "g90";

    let isDarkThemePreferred = window.matchMedia(
        "(prefers-color-scheme: dark)"
    );

    onMount(() => {
        // Adaptation tu thème de l'appli au thème du navigateur
        isDarkThemePreferred.addEventListener(
            "change",
            (e) => (theme = e.matches ? "g90" : "white")
        );
    });
</script>

<Form>
    <FormGroup>
        <Theme
            render="toggle"
            persist
            persistKey="__carbon-theme"
            toggle={themeToggleProps}
            bind:theme
        />
    </FormGroup>
</Form>
