<script lang="ts">
    import { onMount } from "svelte";
    import {
        Button,
        Column,
        DatePicker,
        DatePickerInput,
        Grid,
        Row,
    } from "carbon-components-svelte";
    import French from "flatpickr/dist/l10n/fr";
    import Calendar from "@toast-ui/calendar";
    import "@toast-ui/calendar/dist/toastui-calendar.min.css";
    import type { Options, EventObject } from "@toast-ui/calendar/types";
    import type Day from "./Day";
    import {
        ddMmYyyyToJsDate,
        getFrMonth,
        jsDateToDdMmYyyy,
    } from "./utilities";
    import { ChevronLeft, ChevronRight } from "carbon-icons-svelte";

    export let dayList: Day[];
    export let calendarTitle: string;

    let calendar: Calendar;
    let setDateStr: string;

    let options: Options = {
        usageStatistics: false,
        defaultView: "month",
        isReadOnly: true,
        useDetailPopup: true,
        month: {
            startDayOfWeek: 1,
            dayNames: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
            narrowWeekend: false,
            isAlways6Weeks: true,
            visibleWeeksCount: 0,
            visibleEventCount: 4,
            workweek: true,
        },
        week: {
            startDayOfWeek: 1,
            dayNames: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
            narrowWeekend: true,
            taskView: false,
            timezonesCollapsed: true,
            eventView: true,
        },
        timezone: {
            zones: [
                {
                    timezoneName: "Europe/London",
                    displayLabel: "London",
                },
            ],
        },
        calendars: [
            {
                id: "cal",
                name: calendarTitle,
                color: "var(--cds-text-01)",
                borderColor: "var(--cds-focus)",
                backgroundColor: "var(--cds-ui-02)",
            },
        ],
        theme: {
            common: {
                backgroundColor: "var(--cds-ui-01)",
                border: "var(--cds-background-inverse)",
                gridSelection: {
                    backgroundColor: "var(--cds-field-01)",
                    border: "5px solid red",
                },
                dayName: { color: "var(--cds-focus)" },
                saturday: { color: "var(--cds-interactive-02)" },
                sunday: { color: "var(--cds-interactive-02)" },
            },
            month: {
                dayExceptThisMonth: { color: "var(--cds-ui-01)" },
                dayName: {
                    borderLeft: "var(--cds-ui-05)",
                    backgroundColor: "var(--cds-ui-01)",
                },
                holidayExceptThisMonth: { color: "var(--cds-ui-01)" },
                moreView: {
                    backgroundColor: "var(--cds-ui-01)",
                    border: "var(--cds-ui-01)",
                    boxShadow: "var(--cds-ui-01)",
                    // width: NaN | null,
                    // height: NaN | null,
                },
                moreViewTitle: {
                    backgroundColor: "--cds-inverse-01",
                    border: "var(--cds-interactive-03)",
                    width: 320,
                    height: 200
                },
                weekend: { backgroundColor: "var(--cds-ui-04)" },
                gridCell: {
                    // headerHeight: number | null;
                    // footerHeight: number | null;
                },
            },
        },
    };

    onMount(() => {
        let toastUiEvents: EventObject[] = [];

        dayList.forEach((day, idx) => {
            toastUiEvents.push({
                id: "cal1" + idx,
                calendarId: "cal",
                title: day.dayName.split("|")[0],
                isAllday: true,
                dueDateClass: "",
                category: "allday",
                start: new Date(day.dayDate.setHours(8)),
                end: new Date(day.dayDate.setHours(18)),
                color: day.dayName.startsWith("Cours")
                    ? "var(--cds-text-on-color)"
                    : "var(--cds-inverse-01)",
                backgroundColor: day.dayName.startsWith("Cours")
                    ? "var(--cds-tag-background-blue)"
                    : "var(--cds-button-danger-secondary)",
            });
        });

        calendar = new Calendar("#calendar", options);
        calendar.createEvents(toastUiEvents);
        setDateStr = jsDateToDdMmYyyy(new Date());
    });

    function setCalendarDate(date: Date) {
        setDateStr = jsDateToDdMmYyyy(date);
        calendar.setDate(date);
    }
</script>

<Grid>
    <Row>
        <Column>
            <Button
                iconDescription="Avant"
                icon={ChevronLeft}
                on:click={() => {
                    let newDate = new Date(ddMmYyyyToJsDate(setDateStr));
                    newDate.setMonth(newDate.getMonth() - 1);
                    setCalendarDate(newDate);
                }}
            />
        </Column>
        <Column>
            <DatePicker
                datePickerType="single"
                dateFormat="d/m/Y"
                locale={French.fr}
                bind:value={setDateStr}
                on:change={() => setCalendarDate(ddMmYyyyToJsDate(setDateStr))}
            >
                <DatePickerInput
                    labelText="Aller à..."
                    placeholder="jj/mm/yyyy"
                    type="number"
                />
            </DatePicker>
        </Column>
        <Column>
            <Button
                iconDescription="Après"
                icon={ChevronRight}
                on:click={() => {
                    let newDate = new Date(ddMmYyyyToJsDate(setDateStr));
                    newDate.setMonth(newDate.getMonth() + 1);
                    setCalendarDate(newDate);
                }}
            />
        </Column>
    </Row>

    <Row>
        <Column>
            <div id="wrapper">
                <div id="calendar" />
            </div>
        </Column>
    </Row>
</Grid>

<style>
    #wrapper #calendar {
        min-height: 1000px;
        margin-top: 1em;
    }
</style>
