<script lang="ts">
    import {
        Button,
        Column,
        DatePicker,
        DatePickerInput,
        Form,
        FormGroup,
        Grid,
        Row,
        TextInput,
    } from "carbon-components-svelte";
    import French from "flatpickr/dist/l10n/fr";
    import Add from "carbon-icons-svelte/lib/Add.svelte";
    import Close from "carbon-icons-svelte/lib/Close.svelte";
    import Period from "./Period";
    import { ddMmYyyyToJsDate, jsDateToDdMmYyyy } from "./utilities";

    export let excludedPeriods: Period[];

    let isShown: boolean = true;
    let startDateStr: string;
    let endDateStr: string;
    let name: string;

    function onClickAdd() {
        const excludedPeriod: Period = new Period(
            name,
            ddMmYyyyToJsDate(startDateStr),
            ddMmYyyyToJsDate(endDateStr)
        );
        excludedPeriods.push(excludedPeriod);
        startDateStr = "";
        endDateStr = "";
        name = "";
        forceRefresh();
    }

    function onClickRemove(idx: number) {
        excludedPeriods.splice(idx, 1);
        forceRefresh();
    }

    function forceRefresh() {
        isShown = false;
        setTimeout(() => (isShown = true));
    }
</script>

{#if isShown}
    <Form
        on:submit={(e) => {
            e.preventDefault();
            onClickAdd();
        }}
    >
        <FormGroup legendText="Jours / périodes d'interruption des cours">
            <Grid>
                <Row>
                    <Column>
                        <DatePicker
                            datePickerType="range"
                            dateFormat="d/m/Y"
                            locale={French.fr}
                            bind:valueFrom={startDateStr}
                            bind:valueTo={endDateStr}
                            on:change
                        >
                            <DatePickerInput
                                labelText="Début"
                                placeholder="jj/mm/yyyy"
                                size="sm"
                            />
                            <DatePickerInput
                                labelText="Fin"
                                placeholder="jj/mm/yyyy"
                                size="sm"
                            />
                        </DatePicker>
                    </Column>

                    <Column>
                        <TextInput
                            bind:value={name}
                            labelText="Raison"
                            size="sm"
                        />
                    </Column>

                    <Column lg={1}>
                        <Button
                            iconDescription="Ajouter"
                            icon={Add}
                            size="small"
                            type="submit"
                        />
                    </Column>
                </Row>
            </Grid>
        </FormGroup>
    </Form>

    {#each excludedPeriods as period, idx}
        <div class="period">
            <div class="floating" on:click={() => onClickRemove(idx)} on:keydown={() => onClickRemove(idx)}>
                <Close />
            </div>

            <div>
                {jsDateToDdMmYyyy(period.startDate)}
                {period.isSingleDay()
                    ? ""
                    : `- ${jsDateToDdMmYyyy(period.endDate)}`}
                <br />
                <span>{period.description}</span>
            </div>
        </div>
    {/each}
{/if}

<style>
    .period {
        display: inline-block;
        padding: 0.5em;
        margin: 0.5em;
        background-color: var(--cds-skeleton-01);
        max-width: fit-content;
    }

    .floating {
        float: right;
    }
</style>
