<script lang="ts">
    import "carbon-components-svelte/css/all.css";
    import { onMount } from "svelte";
    import {
        ExpandableTile,
        Tabs,
        Tab,
        TabContent,
        Button
    } from "carbon-components-svelte";
    import axios from "axios";
    import Form from "./lib/Form.svelte";
    import DatesList from "./lib/DatesList.svelte";
    import DatesTable from "./lib/DatesTable.svelte";
    import Planning from "./lib/Planning";
    import Holidays from "./lib/Holidays";
    import type Day from "./lib/Day";
    import AppSettings from "./lib/AppSettings.svelte";
    import Period from "./lib/Period";
    import { jsonToUrlParams } from "./lib/utilities";
    import Calendar from "./lib/Calendar.svelte";

    const holidaysUrl =
        "https://calendrier.api.gouv.fr/jours-feries/metropole.json";
    const holidays = new Holidays();
    let hoursPerDay: number = 7;
    let dayList: Day[];
    let calendarTitle: string;
    let permalink: string = "";
    let showHe: boolean = true;

    onMount(() => {
        // On récupère les jours fériés depuis https://calendrier.api.gouv.fr
        // On obtient la liste complète des 20 dernières années et des cinq prochaines.
        // Voir la doc sur https://calendrier.api.gouv.fr/jours-feries/
        axios
            .get(holidaysUrl)
            .then((response) => {
                holidays.list = response.data;
            })
            .catch((err) => {
                console.info(
                    `Impossible de récupérer les données de ${holidaysUrl}\nUtilisation de la liste statique.\n${err}`
                );
            });
    });

    function onMessage(evt: CustomEvent) {
        let planning = new Planning(evt.detail);
        permalink = window.location.href.split("index.html")[0] + "index.html?" + jsonToUrlParams(evt.detail);
        holidays.list.forEach((day) => planning.pushNoTeachingPeriod(Period.getFromDay(day)));
        console.debug(planning);
        dayList = planning.dayList;
        calendarTitle = planning.calendarTitle.toString();
        showHe = planning.showHe;
    }
</script>

<main>
    <ExpandableTile tileExpandedLabel="Fermer" tileCollapsedLabel="Paramètres">
        <div slot="above">
            <h1>Générateur de planning</h1>
        </div>
        <div slot="below"><AppSettings on:message={(evt) => hoursPerDay = evt.detail}/></div>
    </ExpandableTile>

    <hr />

    <Form on:message={(message) => onMessage(message)} />

    <hr />

    {#if dayList}
        <h1>{calendarTitle}</h1>

        <Button href={permalink} target="blank">Lien permanent</Button>

        <Tabs autoWidth>
            <Tab label="Liste" />
            <Tab label="Calendrier" />
            <Tab label="Tableau" />
            <svelte:fragment slot="content">
                <TabContent>
                    <DatesList {dayList} />
                </TabContent>
                <TabContent>
                    <Calendar {dayList} {calendarTitle} />
                </TabContent>
                <TabContent>
                    <DatesTable {dayList} {calendarTitle} {hoursPerDay} {showHe}/>
                </TabContent>
            </svelte:fragment>
        </Tabs>
    {/if}
</main>

<style>
    hr {
        margin: 2em;
    }

    h1 {
        padding-bottom: 1em;
    }
</style>
